@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy describes how SasWatch (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.</p>

<h2>Collecting Personal Information</h2>
<p>When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.</p>

<h3>Device information</h3>
<ul>
    <li><strong>Examples of Personal Information collected:</strong> version of web browser, IP address, time zone, cookie information, what sites or products you view, search terms, and how you interact with the Site.</li>
    <li><strong>Purpose of collection:</strong> to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.</li>
    <li><strong>Source of collection:</strong> Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels</li>
    <li><strong>Disclosure for a business purpose:</strong> shared with our processor Shopify.</li>
</ul>

<h3>Order information</h3>
<ul>
    <li><strong>Examples of Personal Information collected:</strong> name, billing address, shipping address, payment information (including credit card numbers paypal, email address, and phone number.</li>
    <li><strong>Purpose of collection:</strong> to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</li>
    <li><strong>Source of collection:</strong> collected from you.</li>
</ul>

<h3>Customer support information</h3>
<ul>
    <li><strong>Examples of Personal Information collected:</strong></li>
    <li><strong>Purpose of collection:</strong> to provide customer support.</li>
    <li><strong>Source of collection:</strong> collected from you.</li>
    <li><strong>Disclosure for a business purpose:</strong></li>
</ul>