@page
@model multiple_tables.Pages.ShoppingCart.OrderConfirmationModel
@{
}
@* send message for order confirmatin with orderid *@
<h1>Order Confirmation</h1>
<p>Thank you, @Model.customerName, for your order. Your order number is #@Model.orderId</p>